# Web project files
.DS_Store
node_modules/
tmp/
/dist
/resource/css
/resource/js
/resource/img
/resource/index.html
/resource/pilotgo.ico
/resource/fonts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/cmd/server/app/resource/index.html
/cmd/server/app/resource/static/
/cmd/server/app/resource/assets
/cmd/server/app/resource/pilotgo.ico

.pilotgo-agent.data
config_agent.yaml
config_server.yaml
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xlsx
/plugins

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
/log
/out