@font-face {
  font-family: 'iconfont';
  src: url('iconfont.woff2?t=1649902424901') format('woff2'),
       url('iconfont.woff?t=1649902424901') format('woff'),
       url('iconfont.ttf?t=1649902424901') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  width: 4em;
  height: 4em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon-yingyongtubiaoxinhaodiaoxian:before {
  content: "\e996";
}

.icon-icon-test:before {
  content: "\e650";
}

.icon-diaoxian:before {
  content: "\e600";
}

.icon-dangqianyonghu:before {
  content: "\e7df";
}

.icon-dangqianyonghushu:before {
  content: "\e61e";
}

.icon-chenggong:before {
  content: "\e63e";
}

.icon-shibai:before {
  content: "\e645";
}

.icon-yujing-copy:before {
  content: "\fcfe";
}

.icon-fankui:before {
  content: "\ee9b";
}

.icon-women:before {
  content: "\ee9e";
}

.icon-fenlei:before {
  content: "\eea7";
}

.icon-qingdan:before {
  content: "\eeae";
}

.icon-wode:before {
  content: "\eeca";
}

.icon-yujing:before {
  content: "\eecb";
}

.icon-yonghuguanli:before {
  content: "\fcea";
}

.icon-tongjiguanli:before {
  content: "\fced";
}

.icon-quanxianguanli:before {
  content: "\fcf5";
}

.icon-leimuguanli:before {
  content: "\fcf9";
}

.icon-jigouguanli:before {
  content: "\fcfd";
}

.icon-gailan:before {
  content: "\e612";
}

