@import './base.css';

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: 1440px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: normal;
}
#main {
  padding: 6px;
}
.transition3 {
  transition: all .3s;
}

/* color */
:root {
  --active-color:rgb(241, 139, 14);
}

/* element */
.el-menu {
  border-right: 0 !important;
}
/* el-dropdown */
.el-tooltip__trigger:focus-visible {
    outline: unset;
} 
