[Unit]
Description=PilotGo server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure      
RestartSec=5s           
StartLimitInterval=30s  
StartLimitBurst=3

WorkingDirectory=/opt/PilotGo/server
ExecStart=/opt/PilotGo/server/PilotGo-server

[Install]
WantedBy=multi-user.target
