[Unit]
Description=PilotGo agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure      
RestartSec=5s           
StartLimitInterval=30s  
StartLimitBurst=3

WorkingDirectory=/opt/PilotGo/agent
ExecStart=/opt/PilotGo/agent/PilotGo-agent 

[Install]
WantedBy=multi-user.target
