[Unit]
Description=PilotGo agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/opt/PilotGo/agent
ExecStart=/opt/PilotGo/agent/PilotGo-agent --config.file=/opt/PilotGo/agent/config_agent.yaml

[Install]
WantedBy=multi-user.target
