[Unit]
Description=PilotGo agent
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3s
ExecStart=/usr/bin/PilotGo-agent --config.file=/etc/PilotGo/agent/config_agent.yaml

[Install]
WantedBy=multi-user.target
