[Unit]
Description=PilotGo server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3s
ExecStart=/usr/bin/PilotGo-server --config.file=/etc/PilotGo/server/config_server.yaml

[Install]
WantedBy=multi-user.target
