
.dialog-footer {
  margin-top: 30px;
}

.kylin-form {
  width: 80%;
  margin: 0 auto;
}

.kylin-delete {
  color: red;
  &:hover {
    color: red !important;
    background-image: none;
  }
  &:focus {
    color: red !important;
    background-image: none;
  }
}

.row-modify {
  background-color: #ffdddd !important;
  &:hover > td {
    background-color: #ffdddd !important;
  }
}
.row-hidden {
  display: none;
}

.kylin-item-button,
.kylin-search-button-default {
  background-color: #fff;
  color: #34ade0;
  background-image: none;
  &:hover {
    color: #34ade0;
    background-image: none;
  }
  &:focus {
    color: #34ade0;
    background-image: none;
  }
}
.kylin-button,
.kylin-search-button {
  border: 1px solid #34ade0;
  background-color: #34ade0;
  color: #fff;
  background-image: none;
  &:hover {
    border: 1px solid #34ade0;
    background-color: #34ade0;
    color: #fff;
    background-image: none;
    opacity: 0.8;
  }
  &:focus {
    color: #fff;
    border: 1px solid #34ade0;
    background-color: #34ade0;
  }
}
.ky-dropdown {
  .el-button--default {
    border: 1px solid #34ade0;
    background-color: #34ade0;
    color: #fff;
    background-image: none;
    &:hover {
      border: 1px solid #34ade0;
      background-color: #34ade0;
      color: #fff;
      background-image: none;
      opacity: 0.8;
    }
    &:focus {
      color: #fff;
      border: 1px solid #34ade0;
      background-color: #34ade0;
    }
  }
}

.flex {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05), 
              0 2px 6px 0 rgba(0,0,0,.10);
}
.flag_header {
  width: 98%;
  height: 4%;
  p {
    width: 12%;
    height: 100%;
    display: inline-block;
    text-align: left;
    font-weight: bold;
    padding-left: 6px;
    color: rgb(11, 35, 117);
    border-left: 6px solid rgb(11, 35, 117);
    border-style: solid;
    border-width: 4px 0 4px 6px;
    .iconfont {
      font-size: 18px;
      font-weight: 100;
    }
  }
}
